*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, sans-serif;
  background:#111b21;
  color:white;
  height:100vh;
  overflow:hidden;
}

/* AUTH */

.auth-page{
  width:100%;
  height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;

  padding:20px;
}

.auth-box{
  width:100%;
  max-width:350px;

  background:#202c33;

  padding:25px;

  border-radius:20px;

  display:flex;
  flex-direction:column;

  gap:15px;
}

.auth-box h1{
  text-align:center;
}

input{
  width:100%;

  padding:14px;

  border:none;

  border-radius:12px;

  background:#2a3942;

  color:white;

  outline:none;

  font-size:16px;
}

button{
  padding:14px;

  border:none;

  border-radius:12px;

  background:#00a884;

  color:white;

  font-weight:bold;

  cursor:pointer;

  font-size:16px;
}

/* APP */

.chat-app{
  width:100%;
  height:100vh;

  display:none;
}

/* SIDEBAR */

.sidebar{
  width:320px;

  background:#202c33;

  border-right:1px solid #2a3942;

  display:flex;

  flex-direction:column;
}

.sidebar-top{
  padding:15px;

  display:flex;

  justify-content:space-between;

  align-items:center;
}

.sidebar-top h2{
  font-size:20px;
}

#searchInput{
  margin:10px;
}

.users-list{
  flex:1;

  overflow-y:auto;
}

.user{
  padding:15px;

  border-bottom:1px solid #2a3942;

  cursor:pointer;

  transition:.2s;

  font-size:16px;
}

.user:hover{
  background:#2a3942;
}

/* CHAT AREA */

.chat-area{
  flex:1;

  display:flex;

  flex-direction:column;
}

.chat-top{
  background:#202c33;

  padding:15px;

  border-left:1px solid #2a3942;
}

.messages{
  flex:1;

  overflow-y:auto;

  padding:15px;

  display:flex;

  flex-direction:column;

  gap:10px;
}

.message{
  max-width:80%;

  padding:12px;

  border-radius:16px;

  word-wrap:break-word;

  font-size:15px;
}

.me{
  align-self:flex-end;

  background:#005c4b;
}

.other{
  align-self:flex-start;

  background:#202c33;
}

.time{
  margin-top:6px;

  font-size:10px;

  opacity:.7;
}

/* SEND */

.send-box{
  background:#202c33;

  padding:10px;

  display:flex;

  gap:10px;
}

.send-box input{
  flex:1;
}

/* MOBILE */

@media(max-width:800px){

  .chat-app{
    flex-direction:column;
  }

  .sidebar{
    width:100%;

    height:35%;
  }

  .chat-area{
    height:65%;
  }

  .messages{
    padding:10px;
  }

  .message{
    max-width:90%;
  }

  .sidebar-top h2{
    font-size:18px;
  }

  button{
    font-size:14px;
  }
}
